body,.html{
    background-color: rgb(10, 38, 75);
margin: 10px;
padding: 10px;
}
#buttonquote{
    padding:10px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 70%;
    right:45%;
    background-color: rgb(10, 38, 75);
    color:aquamarine;
}
#lines{
    width:60%;

    padding:10px;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right:20%;
    left:20%;
    top: 20%;
     text-align: center;   
    background-color: rgb(10, 38, 75);
    color:aquamarine;
}